<html>
<head>
  <title></title>
</head>
<body>
<div class="email-wrapper"
     style="box-sizing: border-box; margin: 0px; padding: 20px 5px; background-color: rgb(255, 255, 255); font-family: &quot;Trebuchet MS&quot;, &quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, &quot;Lucida Sans&quot;, Tahoma, sans-serif; color: rgb(59, 63, 73); font-size: 16px; line-height: 1.4;">
  <div class="email-content-wrapper"
       style="box-sizing: border-box; max-width: 700px; margin-right: auto; margin-left: auto; border-radius: 20px;">
    <div class="row-grad-3"
         style="box-sizing: border-box; margin-bottom: 40px; padding: 20px; border-radius: 15px; background-color: rgb(255, 248, 224); background-image: linear-gradient(135deg, rgb(255, 248, 224), rgb(251, 215, 216));">
      <div class="hero-image center"
           style="box-sizing: border-box; text-align: center; overflow: hidden; margin-bottom: 20px; border-radius: 15px;">
        <img alt=""
             src="https://uploads-ssl.webflow.com/609156a1258a351873d7b90f/609156a2258a35100cd7b9d4_RollingDoodle.png"
             style="box-sizing: border-box; border: 0px; max-width: 100%; vertical-align: middle; display: inline-block;"
             width="200"/></div>

      <div class="row-content center"
           style="box-sizing: border-box; text-align: center; max-width: 500px; margin-right: auto; margin-left: auto;">
        <h5 style="box-sizing: border-box; margin-bottom: 5px; font-size: 16px; line-height: 20px; margin-top: 0px;">
          Aooo ci sta un nuovo ordine ! Mamma sar&agrave; Felice!!!!</h5>

        <div class="row div-block" style="box-sizing: border-box; margin-bottom: 20px; margin-top: 20px;">
          <div class="social-links center text-small"
               style="box-sizing: border-box; color: rgb(101, 106, 119); font-size: 0px; margin-bottom: 20px;"><a
                  class="social-icon w-inline-block" href="https://www.facebook.com/toda.joia.14/"
                  style="box-sizing: border-box; background-color: rgb(245, 245, 245); color: rgb(109, 148, 255); text-decoration-line: none; max-width: 100%; display: inline-block; margin-right: 10px; margin-left: 10px; padding: 10px; border-radius: 20px;"
                  target="_blank"><img alt=""
                                       src="https://uploads-ssl.webflow.com/609156a1258a351873d7b90f/609156a2258a35f288d7b954_icons8-facebook-f-64.png"
                                       style="box-sizing: border-box; border: 0px; max-width: 100%; vertical-align: middle; display: inline-block;"
                                       width="20"/></a><a class="social-icon w-inline-block"
                                                          href="https://www.instagram.com/todajoia.fitness/"
                                                          style="box-sizing: border-box; background-color: rgb(245, 245, 245); color: rgb(109, 148, 255); text-decoration-line: none; max-width: 100%; display: inline-block; margin-right: 10px; margin-left: 10px; padding: 10px; border-radius: 20px;"><img
                  alt=""
                  src="https://uploads-ssl.webflow.com/609156a1258a351873d7b90f/609156a2258a35493bd7b955_icons8-instagram-64.png"
                  style="box-sizing: border-box; border: 0px; max-width: 100%; vertical-align: middle; display: inline-block;"
                  width="20"/></a></div>

          <div class="center" style="box-sizing: border-box;">
            <div class="text-light text-small"
                 style="box-sizing: border-box; color: rgb(150, 156, 170); font-size: 14px;">With &hearts; from Cleo
            </div>

            <div class="text-small text-light"
                 style="box-sizing: border-box; color: rgb(150, 156, 170); font-size: 14px;">Toda Joia Fitness - Via
              Punico 19 (RM) 00058 IT
            </div>

            <div class="text-small text-light"
                 style="box-sizing: border-box; color: rgb(150, 156, 170); font-size: 14px;">+39 327 247 6178
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
